---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hello! My name is Álvaro Rivas, also known on social media as <span class="font-bold"
				>@arialdev</span
			>, and I'm a Spanish software engineer. Actually I studied two engineerings: software
			engineering and computer science engineering.
		</p>
		<p>
			I have a strong passion for what I like to call "horizontal learning." While it is valuable to
			become an expert in a particular area, I find great joy in exploring various domains, much
			like trying different flavors at an ice cream parlor. As a result, I consider myself to have a
			well-rounded, full-stack profile. However, I do have my preferences, with <span
				class="font-bold font-monospace">JavaScript</span
			> and <span class="font-bold font-monospace">TypeScript</span> being my primary programming languages.
		</p>
	</div>
</section>
