---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hello! My name is <span class="font-bold">Álvaro Rivas</span> and I'm a Spanish software engineer.
		</p>
		<p>
			I have a strong passion for what I like to call <span class="font-bold">"horizontal learning"</span>. While
			becoming an expert in a specific area is valuable, I truly enjoy exploring multiple domains—much like sampling
			different flavors at an ice cream shop. This approach has allowed me to develop a well-rounded, full-stack skill
			set.That said, I do have my preferences:
			<span class="font-bold">the <span class="font-monospace">JavaScript</span> ecosystem</span>,
			<span class="font-bold">microservices/microfrontends architectures</span> and
			<span class="font-bold">software quality</span> are where I feel most at home.
		</p>
	</div>
</section>
