---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
}

const { title = 'Álvaro Rivas | Software engineer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title={title}
			description="Welcome to Álvaro Rivas' personal website. Here you can know who I am and what do I do."
			openGraph={{
				basic: {
					title,
					type: 'website',
					image:
						'https://res.cloudinary.com/duemlwqqt/image/upload/v1687050665/image_2023-06-18_031105248_habfwq.png',
				},
			}}
			twitter={{
				card: 'summary',
				creator: '@arialdev',
				title: title,
				image:
					'https://res.cloudinary.com/duemlwqqt/image/upload/v1687050665/image_2023-06-18_031105248_habfwq.png',
				imageAlt: "Álvaro Rivas' pic",
				description:
					"Welcome to Álvaro Rivas' personal website. Here you can know who I am and what do I do.",
			}}
			canonical="https://arial.dev"
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
		<script lang="js">
			console.log(
				`%cWell, well, well, looks like I've stumbled upon a hacker! In that case, forget about this dull website and head over to https://terminal.arial.dev.`,
				'color: blue; font-family:serif; font-size: 20px'
			);
		</script>
	</body>
</html>
